.bar-container {
  height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.bar {
  display: inline;
  background-color: red;
  width: 30px;
  border: 1px solid black;
}
.bar-select {
  background-color: lawngreen;
}
.bar-pivot {
  background-color: blue;
}