.node {
  width: 20px;
  height: 20px;
  outline: 1px solid gray;
  display: inline-block;
  transition: background-color 0.3s ease;
  &.node-start {
    background-color: green;
  }
  &.node-finish {
    background-color: red;
  }
  &.node-visited {
    background-color: blue;
  }
}